QPushButton #button{
    border-image: url(upload.png) 0 0 0 0 stretch stretch;
    background-repeat: no-repeat; 
    background-position: center;
}

MainWindow{
    border-image: url(home.jpg) 0 0 0 0 stretch stretch;
    background-repeat: no-repeat; 
    background-position: center;
}